params {
    queue_size = 25
    submit_rate_limit = '50/2min'
    results_dir = "./nextflow_results"
    manifest = ""
    reference = ""
}


profiles {

    // Basic configuration for Nextflow LSF management on the Sanger farm.
    standard {

        docker {
            enabled = false
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = "$PWD"
            runOptions = "--bind /lustre,/nfs,/software,/data"
        }

        process {
            cpus = 1
            memory = "2GB"
            queue = "normal"
            errorStrategy = {task.attempt <= 2 ? "retry" : "ignore"}
            maxRetries = 1

            withName:PNEUMOKITY {
                cpus = 1
                memory = 2.GB
                queue = "normal"
                executor = "lsf"
            }

            withName:GET_RUN_TIME {
                executor = "local"
            }
        }
        executor {
            name = "lsf"
            perJobMemLimit = true
            // Maximum number of jobs to spawn at once - adjust as necessary
            queueSize = params.queue_size
            submitRateLimit = params.submit_rate_limit
            jobName = { "PNEUMOKITY - $task.name - $task.hash" }
            pollInterval = "5 sec"
        }
    }
}